<footer>
  <button class="button-menu">
    <a href="https://adalab.es/" target="_blank">
      <img src="./assets/images/scrollup.png" alt="menu bar" title="menu bar" />
    </a>
  </button>
  <ul>
    <a href="https://adalab.es/" target="_blank"><li>zapatillas</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><li>ropa</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><li>niño/a</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><li>destacados</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><lli>tips</li>
    </a>
  </ul>
  <ul>
    <a href="https://adalab.es/" target="_blank"><li>twitter</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><li>instagram</li>
    </a>
    <a href="https://adalab.es/" target="_blank"><li>youtube</li>
    </a>
  </ul>
  <span>©2023</span>
  <span>we 💚 run</span>
</footer>
