<section class="getback">
  <h3 class="getback-h3">¡Prepáralos con tus marcas favoritas!</h4>
  <h2 class="getback-h2">Vuelta al cole</h2>

  <nav class="getback-nav">
    <img class="getback-img1" src="./assets/images/mochilaEscolar.png" alt="" />
    <p>Mochilas escolares</p>

    <img class="getback-img2" src="./assets/images/estuches.png" alt="" />
    <p>Estuches</p>

    <img class="getback-img3" src="./assets/images/bolsaDeporte.png" alt="" />
    <p>Bolsas de deporte</p>

    <button class="getback-start">
    <a href="https://adalab.es" target="_blank"></a> Empezar
  </button>
  </nav>
</section>
