<header class="header">
  <div class="container">
    <button class="button-menu">
      <a href="https://adalab.es/" target="_blank"
        ><img
          src="./assets/images/hamburguesa.png"
          alt="menu bar"
          title="menu bar"
      /></a>
    </button>
    <h1 class="container_h1">Comienzos compartidos</h1>
    <p class="header-p">
      Todo lo que necesitas para volver al cole con ilusión.
    </p>
    <img src="./assets/images/cover.jpg" alt="kid playing football" />
  </div>
</header>
