<section class="hero">
  <div class="container">
    <h1 class="hero-title">Comienzos compartidos</h1>
    <p class="hero-p">Todo lo que necesitas para volver al cole con ilusión</p>
    <nav>
      <button class="hero-button">
        <a href="#footer.html" target="_blank" title="scroll down"
          ><img
            src="./assets/images/scrollDown.svg"
            alt="scrollDown button"
            title="scorllDown button"
          />
        </a>
      </button>
    </nav>
  </div>
</section>
