  $moss-green: #6c933e;
  $light-grey: #d9e4cc;
  $greyish-brown: #4a4a4a;
  $white:#ffffff;
  $black:#000000;
  $brownish-grey: #626262;
  
  $content: "Roboto", sans-serif;  
  $titles: "Roboto Slab", serif;

  $Bold: 700;
  $medium: 500;
  $regular: 400;

  // <a class="main-shop_button" href="#">Comprar</a>