.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $light-grey;
  height: 656px;

  &-h3 {
    margin-top: 36px;
    font-family: $content;
    font-size: 1.2rem;
    line-height: 3rem;
    color: $greyish-brown;
  }

  &-h2 {
    text-transform: uppercase;
    font-family: $titles;
    font-size: 2rem;
    line-height: 3rem;
    color: $black;
  }
}
